<!--
# Michael Niebauer
# COT 5930-007 COT 4930-001: Cloud Native Development
# Project 3 - Implement change management to your application and 
# create automation for deployment as well as automated testing. 
# Upon completion 50% of your users should see a blue background, 
# while the other 50% should see a green background on your front layer. 
# Traffic should be split evenly and you should be able to run the 2
#  versions of the application in parallel. Do not implement the split 
# logic in your application.
# 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>an·no·ta·tion</title>

    <script>
        function openImageInNewWindow(imageSrc) {
            window.open(imageSrc, "_blank", "width=800, height=600");
        }
    </script>

</head>
<body style="background-color:grey;">
    <div>
    <div class="container-sm">
        <br><br><br>
        <div class="mb-3">
            <div class="mb-3">
                <h1>an·no·ta·tionr</h1>
                <h6>let AI describe your images</h6>
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" accept="image/jpeg" accept="image/jpg" required>
                    <input type="submit" value="Upload">
                </form>
                <br>
                
                <div>
                    {% for i in range(0, num) %}
                    <img src="{{ url_for('serve_image', image_filename=image_filenames[i]) }}" alt="Image" style="width: 300px;" onclick="openImageInNewWindow(this.src)">
                    <p>{{titles[i]}}</p>
                    <p>{{descriptions[i]}}</p>
                    <hr>
                    <br>
                    </div>
                    {% endfor %}
                </div>    
    </div>
    </div>
    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
    </script>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>an·no·ta·tion</title>

    <script>
        function openImageInNewWindow(imageSrc) {
            window.open(imageSrc, "_blank", "width=800, height=600");
        }
    </script>
</head>

<body style="background-color:grey;">
    <div>
        <div class="container-sm">
            <br><br><br>
            <div class="mb-3">
                <h1>an·no·ta·tion</h1>
                <h6>Let AI describe your images</h6>

                <form method="POST" enctype="multipart/form-data">
                    <input type="file" id="file" name="file" accept="image/jpeg, image/jpg" required>
                    <input type="submit" value="Upload">
                </form>

                <br>

                <div>
                    {% for i in range(0, num) %}
                        <div class="image-container">
                            <img src="{{ url_for('serve_image', image_filename=image_filenames[i]) }}" alt="Image" style="width: 300px;" onclick="openImageInNewWindow(this.src)">
                            <p>{{titles[i]}}</p>
                            <p>{{descriptions[i]}}</p>
                            <hr>
                            <br>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>

</html>